:root {
    --viewport-width: 100vw;
    --viewport-height: 100vh;
    --svg-scale: 1;
  }

  html, body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  #animation-wrapper {
    display: flex;
    position: absolute;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    overflow: hidden;
  }
  
  #text-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-items: left;
    align-items: left;
  }
  
  #svg-container {
    height: auto; 
    width: auto; 
    overflow: visible;
  }
  
  #line-wrapper {
    position: fixed;
    height: auto;
    width: auto;
  }
  
  #line-svg {
    stroke-dasharray: var(--line-length);
    stroke-dashoffset: var(--line-length);
    animation: drawLine 3s ease-in-out forwards;
  }
  
  h2,
  h3,
  h4,
  h5 {
    opacity: 0;
  }
  
  
  h4::after {
    content: '';
    display: block;
    position: absolute;
    margin: 10px auto;
    height: 1px;
    width: 50%;
    background-color: black;
  }


  #headline {
    position: absolute;
    display: block;
    width: 100vw;
    height: auto;
  }

  #services {
    position: absolute;
    display: flex;
    bottom: 10vh;
    width: auto;
    height: auto;
    margin: auto;
    flex-direction: column;
    align-items: left;
  }

  #line-1 {
    position: absolute;
    animation: textSlideUp 1s ease-in forwards 12s;
  }

  #line-2 {
    position: absolute;
    animation: textSlideDown 1s ease-in forwards 13s;
  }

  h4,
  h5 {
    margin: 12px;
    animation: textSlideRight 1s ease-in forwards 14s;
  }

  h4::after {
    opacity: 0;
    animation: textSlideRight 1s ease-in forwards 18s;
  }
  
  @media (max-width: 518px) {
    #firstsvg {
      transform: scale(0.2);
      animation: scaleDownVSmall 1.5s ease-in-out forwards 4s;
    }
    :root {
      --translate-x: calc(-50vw + 50px);
      --translate-y: calc(-50vh + 50px);
    }
  }
  
  @media (max-width: 518px) and (min-height: 520px) {
    #firstsvg {
      transform: scale(0.2);
      animation: scaleDownVSmall 1.5s ease-in-out forwards 4s;

    }
    :root {
      --translate-x: calc(-50vw + 75px);
      --translate-y: calc(-50vh + 120px);
    }
  }


  @media (min-width: 519px) and (min-height: 320px) {
    #firstsvg {
      transform: scale(0.25);
      animation: scaleDownSmall 1.5s ease-in-out forwards 4s;
    }
    :root {
      --translate-x: calc(-50vw + 150px);
      --translate-y: calc(-50vh + 100px);
    }
  }
  
  @media (min-width: 720px) and (min-height: 400px) {
    #firstsvg {
      transform: scale(0.25);
      animation: scaleDownSmall 1.5s ease-in-out forwards 4s;
    }
    
    :root {
      --translate-x: calc(-50vw + 300px);
      --translate-y: calc(-50vh + 100px);
    }
  }
  
  @media (min-width: 1219px) and (min-height: 500px) {
    #firstsvg {
      transform: scale(0.5);
      animation: scaleDown 1.5s ease-in-out forwards 4s;
    }
    
    :root {
      --translate-x: calc(-50vw + 350px);
      --translate-y: calc(-50vh + 150px);
    }
  }
  
  @media (min-width: 1365px) and (min-height: 600px) {
    #firstsvg {
      transform: scale(0.5);
      animation: scaleDown 1.5s ease-in-out forwards 4s;
    }
    
    :root {
      --translate-x: calc(-50vw + 400px);
      --translate-y: calc(-50vh + 200px);
    }
  }
  
  
  @keyframes textSlideUp {
    0% {
      transform: translate(0px, 20px);
      opacity: 0;
    }

    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @keyframes textSlideDown {
    0% {
      transform: translate(0px, -20px);
      opacity: 0;
    }

    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @keyframes textSlideRight {
    0% {
      transform: translate(-40px, 0px);
      opacity: 0;
    }

    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  

  @keyframes moveUpAndLeft {
    0% {
      transform: translate(0px, 0px);
    }

    25% {
      transform: translate(0px, 0px);
    }

    50% {
      transform: translate(0px, var(--translate-y));
    }

    100% {
      transform: translate(var(--translate-x), var(--translate-y));
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(0.5)
    }

    100% {
      transform: scale(0.25)
    }
  }
  
  @keyframes scaleDownSmall {
    0% {
      transform: scale(0.25)
    }

    100% {
      transform: scale(0.125)
    }
  }
  
  @keyframes scaleDownVSmall {
    0% {
      transform: scale(0.2)
    }

    100% {
      transform: scale(0.1)
    }
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: var(--line-length);
    }

    25% {
      stroke-dashoffset: 0;
    }

    75% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: var(--line-length);
    }
  }

  @keyframes drawLine {
    0% {
      stroke-dashoffset: var(--line-length);
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      fill-opacity: 0;
    }

    50% {
      fill-opacity: 0.3;
    }

    75% {
      fill-opacity: 0.5;
    }

    100% {
      fill-opacity: 0;
    }
  }

  .face {
    fill-opacity: 0;
    animation: fadeIn 8s ease forwards;
  }


  line {
    stroke-dasharray: var(--line-length);
    stroke-dashoffset: var(--line-length);
    animation: draw 8s ease forwards;
  }

  #svg-container {
    animation: moveUpAndLeft 6s ease-in-out forwards 4s;
  }
  
